# The community extension distribution pipeline [kept intact for publishing]
#
# This workflow calls the main distribution pipeline from DuckDB to build, test and (optionally) release the extension
#
name: Main Extension Distribution Pipeline
on:
## Keep it on workflow_dispatch only to allow to test it manually before submitting a PR to community extensions
#  push:
#    branches: [main]
#  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}-${{ github.ref != 'refs/heads/main' || github.sha }}
  cancel-in-progress: true

jobs:
  duckdb-stable-build:
    name: Build extension binaries
    uses: duckdb/extension-ci-tools/.github/workflows/_extension_distribution.yml@main
    with:
      duckdb_version: v1.4.3
      ci_tools_version: main
      extension_name: chess
      extra_toolchains: rust;python3
      exclude_archs: 'wasm_mvp;wasm_eh;wasm_threads;linux_amd64_musl'
      skip_tests: true
